@font-face {
	font-family: 'Raleway-VariableFont_wght';
	src: url('Raleway-VariableFont_wght.ttf') format('truetype');
}


body{
	font-family: Raleway-VariableFont_wght;

	margin: 0px;
	padding: 0px;
}
.header-container{
	padding: 6px 16px 0px;
	height: 65.3px;
}
.header{
	border-bottom: 1px solid lightgray;
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 52px;
	background-color: white;
	padding: 4px 0px 4px;
}
.classmates{
	width: 136px;
	height: 36px;
	padding: 5px 0px 8px;
	cursor: pointer;
}
.signIn{
	border: 1px solid lightgray;
	font-size: 15px;
	width: 65.19px;
	height: 49.3px;
	background-color: white;
	text-align: right;
	padding: 13px 8px;
	border-radius: 130px;
	cursor: pointer;
}
.body-container{
	height: 1167.9px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.greetings-container{
	width: 1024px;
	height: 67.2px;
	margin: 0 15px;
}
.greetings{
	font-size: 24px;
	font-family: Raleway-VariableFont_wght;
	width: 1024px;
}
.content-container{
	background-color: white;
	width: 1024px;
	height: 1167.9px;
	display: flex;
	justify-content: flex-start;
}
.form-container{
	width: 341.33px;
	height: 1067.9px;
	background-color: white;

}
.div-form{
	width: 311.33px;
	height: 1067.9px;
	background-color: #009CD40D;
	border-radius: 10px;
}
#form{
	display: flex;
	flex-direction: column;
	width: 250.33px;
	height: 1067.9px;
	padding: 30px;

}
.display-container{
	width: 524px;
	height: 580.9px;
	background-color: #f9f9f9;
	padding: 0px 15px;
	border-radius: 10px;
}
.content{
	width: 534px;
	height: 549.2px;
	padding: 0px 0px 50px;
}
.form-body{
	display: flex;
	flex-direction: row;
}
input{
	margin-bottom: 15px;
	width: 213.33px;
	height: 20px;
	background-color: white;
	padding: 6px 12px;
	border: 1px solid lightgray;
	border-radius: 4px;
	font-size: 15px;
	color: black;
	font-family: Raleway-VariableFont_wght;
}
input:focus {
  outline: none;
  box-shadow: 0 0 3px 2px #87cefa ;
  transition: box-shadow 0.2s ease-in-out;
}
.x-mark{
	display: none;
	padding: 5px;
}
small{
	display: none;
	font-family: Arial;
	font-size: 12px;
	font-style: italic;
	color: #CD5C5C;
	margin-bottom: 18px;
}
#state, #city, #grad{
	width: 238.33px;
	height: 30px;
	background-color: white;
	padding: 6px 12px;
	border: 1px solid lightgray;
	border-radius: 4px;
	font-size: 15px;
	color: gray;
	font-family: Raleway-VariableFont_wght;
	margin-bottom: 5px;
}
#grad-year{
	width: 238.33px;
	height: 30px;
	background-color: white;
	padding: 6px 12px;
	border: 1px solid lightgray;
	border-radius: 4px;
	font-size: 15px;
	color: gray;
	font-family: Raleway-VariableFont_wght;
	margin: 30px 0 5px;
}
.password-label{
	margin-bottom: 20px;
}
.password-wrapper {
  position: relative;
}

#toggle-password, #toggle-password2 {
  margin: 0px 10px;	
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

#toggle-password:hover {
  color: #007bff;
}
.bottom-text p{
	font-family: Arial;
	font-size: 13px;
	color: gray;
}
#submit{
	width: 238.33px;
	height: 37px;
	background-color: white;
	padding: 6px 12px;
	border: 1px solid lightgray;
	border-radius: 10px;
	font-size: 15px;
	color: black;
	background-color: #f3d643;

}
.img-container{
	margin: 50px 0px 0px;
}
.c-label{
	width: 498.56px;
	height: 43.2px;
	margin: 20px 0px 8px;
	font-size: 36px;
	font-family: Raleway-VariableFont_wght;
}
.content-label{
	padding: 0px 0px 0px 20px;
	margin: 50px 0px 16px;
}
.content-label p{
	font-size: 20px;
	margin: 40px 0px 0px;
}
.row{
	display: flex;
	justify-content: center;
	background-color: #454545;
	width: 100%;
	height: 321px;
}
footer{
	background-color: #454545;
	width: 728px;
	height: 288px;
	padding: 33px 0px 0px;
}
.upper-footer{
	display: flex;
	flex-direction: row;
}
section{
	color: white;
	padding: 14px;
}
.one{
	background-color: #454545;
	width: 111px;
	height: 194px;
}
.one img{
	padding: 10px 20px 0;
	width: 83px;
	height: 22px;
}
.two{
	font-family: Arial;
	background-color: #454545;
	width: 222.09px;
	height: 194px;
}
.two p{
		font-size: 12px;
}
.three{
	background-color: #454545;
	width: 108.54px;
	height: 194px;
}
.img{
	height: 20px;
	width: 20px;
	display: flex;
	flex-direction: row;
}
.img img{
	padding-right: 12px;
}
.four{
	background-color: #333;
	width: 180.51px;
	height: 194px;
}
.four p{
	font-weight: bold;
	line-height: 20px;
	font-size: 12px;
	font-family: arial;
}
.bottom-footer{
	position: static;
	width: 728px;
	height: 24px;
	color: white;
	background-color: #454545;
	padding: 14px 0px 28px;
}
.bottom-footer p{
	font-size: 12px;
	font-family: arial;
		position: static;

}